*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	font-family: arial;
	padding:0 20px;
}

h1{
	text-align:center;
	margin:40px 0;
}

div.section{
	margin-bottom:20px;
	float:left;
}

div.section div{
	margin-right: 20px;
    position: relative;
    background-color: #c0c0c0;
	border:3px solid black;
	padding:50px 15px 15px;
}

div.section:last-child{
	margin-right: 0px;
}

div.section h3{
	position: absolute;
	top:0;
	right:0;
	padding: 10px;
	width: 150px;
	text-align: center;
	border-bottom:3px solid black;
	border-left:3px solid black;
}

#section1 h3{
	background-color: pink;	
}

#section2 h3{
	background-color: red;
	color:white;
}

#section3 h3{
	background-color: yellow;
}


@media (min-width: 992px){
 .col-lg-12{width:100%; }
 .col-lg-6{width:50%;}
 .col-lg-4{width:33.33%;}
 .col-lg-3{width:25%;}
 .col-lg-2{width:16.67%;}
}

@media (max-width: 991px) and (min-width: 768px){
 .col-md-12{width:100%; }
 .col-md-6{width:50%;}
 .col-md-4{width:33.33%;}
 .col-md-3{width:25%;}
 .col-md-2{width:16.67%;}	
}

@media (max-width: 767px){
 .col-sm-12{width:100%;}
 .col-sm-6{width:50%;}
 .col-sm-4{width:33.33%;}
 .col-sm-3{width:25%;}
 .col-sm-2{width:16.67%;}
}